/* This stylesheet will contain all the styling for the footer section */

/* Project was designed with a mobile first approach */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

h1 {
  font-family: 'Crete Round', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* actual page styling */
.footer {
  background: #fff;
  width: 375px;
}

.footerHeader {
  margin: 0 24px 73px 24px;
  padding-top: 120px;
  width: 327px;
  height: 216px;
}

.footerHeader h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b40;
}

form input {
  outline: 0;
  border: none;
  padding: 16px;
  border-style: none none solid none;
  border-width: 3px;
  border-color: #dbd8d7;
}

form input:focus {
  border-color: rgba(255, 255, 255, 0.24);
}

form .ftext {
  margin: 150px 40px 39px 40px;
  height: 18px;
  width: 295px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
}

form .femail {
  margin: 0 40px 24px 40px;
  height: 18px;
  width: 295px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
}

form .ftextarea {
  margin: 0 24px 24px 24px;
  width: 327px;
  background: #fbf8f7;
  height: 114px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  border: 0;
}

form .fsubmit {
  margin: 0 122px 150px 122px;
  width: 131px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: 0;
}

form .fsubmit:enabled {
  background: #ff6b00;
  color: #fff;
}

form .fsubmit:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

form .fsubmit:active {
  background: #ff6b00;
  color: #fff;
}

form .fsubmit:disabled {
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

.footerLinks {
  margin: -16px 97px 8px 200px;
}

.footerLinks .footL {
  display: flex;
  justify-content: center;
  margin-right: 120px;
}

.footerLinks .footL li a i {
  margin-right: 21px;
  color: #505f79;
  height: 20px;
  width: 20px;
  transition: transform 0.5s;
}

.footerLinks .footL li a i:hover {
  transform: translateY(-7px);
}

body .hr {
  display: none;
}

.footer hr {
  margin: 0 120px 10px 121px;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

/* Desktop version */
@media screen and (min-width: 992px) {
  body .hr {
    position: relative;
    bottom: 110px;
    display: block;
    border-top: 1px solid #dfe1e6;
    width: 100%;
  }

  .footer hr {
    display: none;
  }

  .footer {
    width: 100%;
    margin: 0 142px 40px 130px;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .footerHeader {
    margin-right: 123px;
  }

  .footerHeader h2 {
    width: 455px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    text-align: left;
  }

  form input {
    width: 652px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    color: #979493;
    position: relative;
    bottom: 20px;
  }

  form .ftext {
    width: 652px;
  }

  form .femail {
    width: 652px;
  }

  form .ftextarea {
    width: 684px;
  }

  form .fsubmit {
    margin-top: 24px;
    margin-left: 22px;
  }

  .footerLinks {
    position: relative;
    right: 430px;
  }
}
