/* This stylesheet will contain all the styling for the landing page */

/* Project was designed with a mobile first approach */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Crete Round', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* actual page styling */

/*Header section*/

.header {
  height: 92px;
  width: 375px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background-color: #3C3A39;
}
.topHeaderBar
{
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: #ffffff;
}

.topnavBar
{
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.topnavBar .navleft h2
{
  position: static;
  height: 24px;
  left: 12px;
  top: 10px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  text-align: center;
}