/* This stylesheet will contain all the styling for the My works section */

/* Project was designed with a mobile first approach */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

h1 {
  font-family: 'Crete Round', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* actual page styling */

.myWorks {
  background: #fff;
  width: 375px;
}

.myWorksHeading {
  margin: 0 24px 104px 24px;
  padding-top: 120px;
  height: 83px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 0;
}

.myWorksHeading h1 {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  margin-bottom: 24px;
  color: #1c1a19;
}

.myWorksHeading hr {
  width: 327px;
  border: 1px solid #212121;
}

/* Featured projects now */

.featuredWork {
  margin: 80px 24px 0 24px;
  padding-bottom: 24px;
}

.featuredWorkLeft img {
  max-width: 100%;
  margin-bottom: 24px;
}

.featuredWorkRight .featuredWorkRightHeading {
  margin-bottom: 12px;
  height: 36px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 0;
}

.projectHeader h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.featuredWorkRight .featuredWorkRightHeading h2 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: 44px;
  color: #091e42;
}

.featuredWorkRightBody p {
  font-family: 'Inter', sans-serif;
  width: 327px;
  height: 147px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 12px;
}

.featuredWorkRightBody ul {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.featuredWorkRightBody ul li {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
  position: static;
}

.css {
  border: 1px solid #8993a4;
  width: 49px;
  height: 40px;
  margin-right: 12px;
  background: #fff;
}

.css ul li {
  width: 25px;
  height: 20px;
  padding: 10px 12px;
  color: #091e42;
}

.html {
  width: 56px;
  height: 40px;
  border: 1px solid #8993a4;
  margin-right: 12px;
  background: #fff;
}

.html ul li {
  width: 32px;
  height: 20px;
  padding: 10px 12px;
  color: #091e42;
}

.bootstrap {
  height: 40px;
  width: 95px;
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.bootstrap ul li {
  width: 71px;
  height: 20px;
  padding: 10px 12px;
  color: #091e42;
}

.ruby {
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
  width: 61px;
  height: 40px;
}

.ruby ul li {
  width: 37px;
  height: 20px;
  padding: 10px 12px;
  color: #091e42;
}

.featuredWorkRightBody .button {
  width: 124px;
  height: 48px;
  background: #ff6b00;
  align-items: center;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.featuredWorkRightBody .button:enabled {
  background: #ff6b00;
  color: #fff;
}

.featuredWorkRightBody .button:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.featuredWorkRightBody .button:active {
  background: #ff6b00;
  color: #fff;
}

.featuredWorkRightBody .button:disabled {
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

/* The individual projects section now */

.myProjects {
  background: #fff;
  width: 375px;
  padding-bottom: 132px;
}

.project {
  margin: 0 24px 36px 24px;
  background: linear-gradient(180.45deg, rgba(50, 50, 38, 0) 0.65%, rgba(38, 38, 38, 0.9) 75.94%), url(../images/projectbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 386px;
  position: relative;
}

.projectHeader {
  padding: 84px 16px 12px 16px;
  width: 295px;
  height: 81px;
}

.projectBody {
  width: 295px;
  height: 87px;
  margin: 80px 16px 12px 16px;
}

.projectBody p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.projectBody ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-bottom: 22px;
}

.projectBody ul li {
  list-style: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
  position: static;
}

.projectHTML {
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
}

.projectHTML ul li {
  width: 32px;
  height: 20px;
  padding: 10px 12px;
  color: #fff;
}

.projectBootstrap {
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-left: -24px;
  margin-right: 12px;
}

.projectBootstrap ul li {
  width: 71px;
  height: 20px;
  padding: 10px 12px;
  color: #fff;
}

.projectRuby {
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
  margin-left: -10px;
}

.projectRuby ul li {
  width: 37px;
  height: 20px;
  padding: 10px 12px;
  color: #fff;
}

.projectButton {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 48px;
  background: #ff6b00;
}

.projectButton button {
  width: 124px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

/* styling for the buttons */
button:enabled {
  background: #ff6b00;
  color: #fff;
}

button:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

button:active {
  background: #ff6b00;
  color: #fff;
}

button:disabled {
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

/* Desktop version */
@media screen and (min-width: 992px) {
  .myWorks {
    width: 100%;
    margin: 5px 118px 0 118px;
    position: relative;
  }

  .myWorksHeading h1 {
    float: left;
    margin: 0 24px 114px 35.5px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    width: 315px;
    height: 52px;
  }

  .myWorksHeading hr {
    width: 794px;
    height: 0;
    border: 0;
    border-bottom: 4px solid #212121;
    padding: 26px 0;
    position: relative;
    top: -25px;
  }

  .featuredWork {
    clear: left;
    margin: 0 25px 24px 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
  }

  .featuredWorkRightHeading h2 {
    width: 448px;
    height: 48px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .featuredWorkRightBody p {
    width: 448px;
    height: 140px;
    margin: 23px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .featuredWorkRightBody ul {
    margin: 0 0 24px 0;
  }


  /* Individual projects section */

  .myProjects {
    margin: 5px 118px 0 118px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project {
    height: 435px;
    width: 369px;
    border-radius: 0;
  }

  .projectHeader h2 {
    width: 337px;
    height: 81px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    margin: 85px auto 24px auto;
  }

  .projectBody p {
    position: relative;
    margin: 180px auto 24px auto;
    width: 337px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
  }

  .projectButton {
    display: none;
  }
}
