/*popup styling*/
.mobilehide {
  display: none;
}
.popup {
  width: 100%;
  height: 100vh;
  background: #979493;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  overflow: scroll;
}
.popupcont {
  background: #FFFFFF;
  margin: 35px auto 24px auto;
  border: 1px solid #DFE1E6;
  width: 90%;
}
.popupcontheader {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.popupcontheader h2 {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 44px;
color: #172B4D;
}
.popupcontheader button {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #000;
}
.popupcontheader button i {
  font-size: 23px;
}
.popupcontlangs {
  margin-bottom: 24px;
}
.popupcontlangs ul {
  display: flex;
  justify-content: space-around;
}
.popupcontlangs ul li {
  border: 1px solid gray;
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #3C3A39;
padding: 10px;
}
.popupcontbody {
  margin: 24px 16px;
}
.popupcontbodyleft img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 24px;
}
.popupcontbodyright p{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #344563;
margin-bottom: 16px;
}
.popupcontbodyrightbtns {
  display: flex;
  justify-content: space-between;
}
.popupcontbodyrightbtns button {
  padding: 12px;
height: 48px;
background: #FF6B00;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 24px;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
border: 0;
cursor: pointer;
}
.popupcontbodyrightbtns button img {
  padding-left: 10px;
}

/* MEDIA QUERY */

@media screen and (min-width: 992px) {
.mobilehide {
  display: block;
}
.desktophide {
  display: none;
}
.popupcont {
  margin-bottom: 45px;
}
.popupcontlangs ul {
  justify-content: flex-start;
}
.popupcontlangs ul li {
  margin-left: 20px;
}
.popupcontbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.popupcontbodyright p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.popupcontbodyrightbtns {
  justify-content: flex-start;
  position: absolute;
  bottom: 15%;
}
.popupcontbodyrightbtns button {
  margin-left: 20px;
}
}
